
@* @model  EmployeeManagementSystem.Models.Entities.Employee; *@
@model List<EmployeeManagementSystem.Models.Entities.Employee>



<!-- component -->
@* <div class="flex flex-col h-full w-full justify-content-center">
  <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-gray-200 border-b">
            <tr>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
               Employee ID
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Name
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Email
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Phone
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Position
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Salary
              </th>
                            <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                Actions
              </th>


            </tr>
          </thead>
          <tbody>
      

            @foreach (var employee in Model)
            {
              <tr class="bg-white border-b transition duration-300 ease-in-out hover:bg-gray-100">
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">@employee.Id</td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  @employee.Name
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  @employee.Email
                </td>
                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  @employee.Phone
                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  @employee.Position
                </td>
                                <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                  @employee.Salary
                </td>
                     <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                  Edit
                </button>
                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                  Delete
                </button>

                <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                  View
                </button>
                </td>
              </tr>}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> *@